.nav-links {
  @apply bg-white fixed flex-grow h-screen inset-0 w-full;
}

@screen lg {
  .nav-links {
    @apply bg-transparent h-auto items-center pl-2 pr-2 pt-2 static w-auto;
  }
}

.nav-link {
  @apply block font-bold p-2 mr-4 text-base text-gray-600;
}

.nav-link-alt {
  @apply block font-bold p-2 mr-4 text-base text-color1;
}

.nav-link:active,
.nav-link:visited {
  @apply text-gray-600;
}

@screen lg {
  .nav-link,
  .nav-link-alt {
    @apply flex items-center mt-0;
  }

  .nav-link,
  .nav-link:active,
  .nav-link:visited {
    @apply text-white;
  }

  .nav-link-alt,
  .nav-link-alt:active,
  .nav-link-alt:visited {
    @apply text-color1;
  }
}

.nav-link:hover {
  @apply text-color1;
}

.nav-link-alt:hover {
  @apply text-alt;
}

.nav-link.nuxt-link-active::after,
.nav-link-alt.nuxt-link-active::after {
  @apply bg-alt h-2 inline-block relative rounded-full w-2;

  content: '\A';
  top: 20px;
  right: 50%;
}
