---
import swachLogoLine from '../assets/svgs/swach-logo-line.svg';
---

<div class="bg-color1 text-white">
  <nav class="flex flex-col items-center justify-center w-full">
    <div class="flex flex-wrap h-56 justify-end max-w-6xl p-6 w-full">
      <div class="flex flex-wrap items-center w-full">
        <div class="pt-6">
          <a href="/about/" class="inline-block mb-6 mr-12 hover:text-alt">
            About
          </a>
          <a href="/docs/" class="inline-block mb-6 mr-12 hover:text-alt">
            Docs
          </a>
          <a href="/releases/" class="inline-block mb-6 mr-12 hover:text-alt">
            Releases
          </a>
          <a href="/download/" class="inline-block mb-6 mr-12 hover:text-alt">
            Download
          </a>

          <a
            href="https://github.com/shipshapecode/swach/"
            class="inline-block mb-6 mr-12 hover:text-alt"
          >
            GitHub
          </a>
        </div>
      </div>

      <div class="flex flex-wrap items-center justify-between w-full">
        <a
          href="/"
          class="font-bold font-gt-walsheim inline-flex items-center text-white text-2xl"
        >
          <img alt="" class="inline h-auto mr-4 w-10" src={swachLogoLine.src} />
           Swach
        </a>

        <p class="text-color2 text-sm">
          Copyright © 2024
          <a class="underline hover:text-white" href="https://shipshape.io">
            Ship Shape Consulting LLC.
          </a>
           All rights reserved.
        </p>
      </div>
    </div>
  </nav>
</div>
