---
import { Image } from 'astro:assets';

import closeIcon from '../assets/svgs/close.svg';
import menuIcon from '../assets/svgs/menu.svg';
import swachDockIcon from '../assets/svgs/swach-dock-icon.svg';

const { url } = Astro;
---

<nav
  class:list={[
    {
      homepage: url.pathname === '/',
      'about-page': url.pathname === '/about/',
    },
  ]}
  class="top-nav flex h-20 items-center justify-center p-6 pb-12 pt-12 sticky top-0 w-full z-50"
>
  <div class="flex font-medium items-center justify-between max-w-6xl w-full">
    <a
      href="/"
      class="font-gt-walsheim inline-flex items-center text-gray-800 text-2xl"
    >
      <Image alt="" class="inline h-10 mr-4 w-10" src={swachDockIcon} />
       Swach
    </a>

    <div class="block lg:hidden">
      <button
        aria-label="Open navigation menu"
        class="flex items-center px-3 py-2 text-gray-600 hover:text-gray-800 text-xl"
        onclick="toggleNavMenu(true)"
      >
        <Image alt="" class="hamburger-menu" src={menuIcon} />
      </button>
    </div>

    <div class="nav-links hidden z-50 lg:flex">
      <div class="lg:flex lg:flex-grow lg:justify-end">
        <div class="flex lg:hidden justify-end m-4">
          <button
            aria-label="Close navigation menu"
            class="cursor-pointer"
            onclick="toggleNavMenu(false)"
          >
            <Image alt="" class="h-10 m-2 p-2 w-10" src={closeIcon} />
          </button>
        </div>

        <a
          class:list={[
            {
              'nav-link-alt': url.pathname !== '/',
            },
          ]}
          class="text-link"
          href="/about/"
          onclick="toggleNavMenu(false)"
        >
          About
        </a>

        <a
          class:list={[
            {
              'nav-link-alt': url.pathname !== '/',
            },
          ]}
          class="text-link"
          href="/docs/"
          onclick="toggleNavMenu(false)"
        >
          Docs
        </a>

        <a
          class:list={[
            {
              'text-color1 hover:text-white lg:bg-white lg:hover:bg-color1':
                url.pathname === '/',
              'text-white lg:bg-color1 lg:hover:bg-alt': url.pathname !== '/',
            },
          ]}
          class="download btn hidden lg:block"
          href="/download/"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</nav>

<script is:inline>
  function handleScroll() {
    const topNav = document.querySelector('.top-nav');

    if (window.scrollY >= 80) {
      topNav?.classList.add('scrolled');
    } else {
      topNav?.classList.remove('scrolled');
    }
  }

  window.addEventListener('scroll', handleScroll);

  // eslint-disable-next-line
  function toggleNavMenu(open) {
    const mobileNavShown = window.innerWidth < 1024;
    if (mobileNavShown) {
      const navLinks = document.querySelector('.nav-links');

      if (open) {
        navLinks?.classList.remove('hidden');
        document.body.style.position = 'fixed';
      } else {
        navLinks?.classList.add('hidden');
        document.body.style.position = '';
      }
    }
  }
</script>

<style>
  .hamburger-menu {
    height: 36px;
    width: 36px;
  }

  .nav-links {
    @apply bg-white fixed flex-grow h-screen inset-0 w-full;
  }

  @screen lg {
    .nav-links {
      @apply bg-transparent h-auto items-center pl-2 pr-2 pt-2 static w-auto;
    }
  }

  .nav-link {
    @apply block font-bold p-2 mr-4 text-base text-gray-600;
  }

  .nav-link-alt {
    @apply block font-bold p-2 mr-4 text-base text-color1;
  }

  .nav-link:active,
  .nav-link:visited {
    @apply text-gray-600;
  }

  @screen lg {
    .nav-link,
    .nav-link-alt {
      @apply flex items-center mt-0;
    }

    .nav-link,
    .nav-link:active,
    .nav-link:visited {
      @apply text-white;
    }

    .nav-link-alt,
    .nav-link-alt:active,
    .nav-link-alt:visited {
      @apply !text-color1;
    }
  }

  .nav-link:hover {
    @apply text-color1;
  }

  .nav-link-alt:hover {
    @apply !text-alt;
  }

  .nav-link:active::after,
  .nav-link-alt:active::after {
    @apply bg-alt h-2 inline-block relative rounded-full w-2;

    content: '\A';
    top: 20px;
    right: 50%;
  }

  .download,
  .top-nav {
    @apply duration-150 transition;
  }

  .top-nav {
    .text-link {
      @apply nav-link;
    }

    &.scrolled {
      @apply bg-white;

      .download {
        @apply text-white lg:bg-color1 lg:hover:bg-alt;
      }

      .text-link {
        @apply nav-link-alt;
      }
    }

    &.about-page {
      @apply bg-peach;
    }
  }
</style>
