---
import "../assets/styles/tailwind.css";
import MainHead from "../components/MainHead.astro";
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";

const { site, url } = Astro;
const canonicalURL = new URL(url.pathname, site);

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead
      canonicalURL={canonicalURL}
      description={description}
      title={title}
    />
  </head>

  <body>
    <NavMenu />

    <main
      class:list={[
        {
          "bg-peach": url.pathname === "/about",
        },
      ]}
      class="min-h-screen overflow-hidden w-screen"
    >
      <slot />
    </main>

    <Footer />

    <style is:global>
      html {
        background-color: #fefefe;
        box-sizing: border-box;
        font-family:
          "Ginto Normal Trial",
          "Source Sans Pro",
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          Arial,
          sans-serif;
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;

        @apply text-body;
      }

      body {
        @apply overflow-x-hidden;
      }

      *,
      *:before,
      *:after {
        box-sizing: border-box;
        margin: 0;
      }

      a,
      button {
        @apply duration-150 no-underline transition;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply font-gt-walsheim text-color1;
      }

      @font-face {
        font-family: "Ginto Normal Trial";
        src: url("/fonts/GintoNormalTrial-Regular.woff2") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "GT Walsheim";
        src: url("/fonts/GTWalsheimMedium.woff2") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
